* {
    margin: 0;
    padding: 0;
    font-family: consolas;
}

section {
    padding: 50px;
    background: #000000;
}

section h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
}

section a {
    width: 11rem;
    border-style: solid;
    border-radius: 0.8rem;
    text-decoration: none;
}

section .buttons {
    display: flex;
    flex-direction: column;
}

section p {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    border: 0.4rem solid #232943;
    background: rgba(0, 0, 0, 1);
  }
